body{
    margin: 0px;
}


.header{
    background-image: url("../img/pattern.png");
    background-color: blue;
    height: 175px;
    width: 100%;

}

#logo{
    height: 50px;
    height: 70px;
    margin-top: 100px; 
}

main{
    margin: 8px;
}

h1{
    font-size: 80px;
    margin-bottom: 4px;
}

.autore{
    font-size: 25px;
    color: grey;
}

span{
    color: aqua;
}

#data{
    font-size: 20px;
}

img{
    width: 45%;
    height: 700px;
}

p{
    font-size: 25px;
}

.sottolineato{
    background-color: yellow;
    color: black;
}

.elenco{
    font-size: 25px;
}

table, th, td {
    font-size: 20px;
    border-style: hidden;
}

th{
    background-color: blue;
    color: white;
    text-align: left;
}

.colonna{
    background-color: aqua;
}

footer{
    margin: 8px;
}

h3{
    font-size: 25px;
    color: grey;
}

.monitor{
    font-size: 30px;
    color: white;
    height: 210px;
    background-image: url("../img/monitor.jpg");
    background-repeat: no-repeat;
}

.graph{
    font-size: 30px;
    color: white;
    height: 210px;
    background-image: url("../img/graph.jpg");
    background-repeat: no-repeat;
} 
